<!DOCTYPE html>
<html lang="en">
    <div align="center" style="font-size:22px">
        <br>
        <br>
    <head>
        <title>Login</title>
    </head>
    <body style="background-color:burlywood;">
        <H1>Login</H1>
        <br>
        <img moz-do-not-send="true" src="{{ url_for('static', filename='other_images/front-page-image.jpg')}}" alt="test image" width="512" height="341">
        <br>
        <br>
        <P>Please enter your login details:</P>
        <form action="{{page}}" method="post">
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
    </div>
</html>