<!DOCTYPE html>
<html lang="en">
    <div align="center" style="font-size:22px">
        <br>
        <br>
    <head>
        <title>Stock Levels</title>
    </head>
    <body>
        <H1>Stock Levels!</H1>
        <br>
        <br>
        <form action="{{page}}" method="post">
            <input type="submit" name= "add_stock_btn" value="      Add Stock      ">
        </form>
        <! Here we need to display all the books currently in stock>
        <! must iterate over arg 'result' passed on the parameter 'variable'>
    </body>
    </div>
</html>