<!DOCTYPE html>
<html lang="en">
    <div align="center" style="font-size:22px">
        <br>
        <br>
    <head>
        <title>Stock Levels</title>
    </head>
    <body style="background-color:burlywood;">
        <H1>Stock Levels</H1>
        <br>
        <br>
        <form action="{{page}}" method="post">
            <input type="submit" name= "add_stock_btn" value="      Add Stock      ">
        </form>
            
        <br>
<table style="width: 60%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 5%;">
    </colgroup>
    
    <thead style="text-align: left">
    <tr>
        <th>Book cover</th>
        <th>Title</th>
        <th>ISBN-13</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
        {% for item in all_books %}
        <tr>
            <td><img src="{{ url_for('static', filename=item[3])}}" width="100" height="150"></td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        <br>
        
    </body>
    </div>
</html>