<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <H1>Login</H1>
        <P>Please enter your username and password:</P>
        <form action="{{page}}" method="post">
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" value="John"><br>
            <label for="pwd">Password:</label><br>
            <input type="text" id="pwd" name="pwd" value="Password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>