<!DOCTYPE html>
<html lang="en">
    <div align="center" style="font-size:22px">
        <br>
        <br>
    <head>
        <title>Welcome</title>
    </head>
    <body style="background-color:burlywood;">
        <H1>Welcome to our bookstore!</H1>
        <br>
        <img moz-do-not-send="true"
             src="{{ url_for('static', filename='other_images/front-page-image.jpg')}}"
             alt="test image" width="512" height="341">
        <br>
        <br>
        <P>Choose whether you want to login or register:</P>
        <form action="{{page}}" method="post">
            <input type="submit" name= "login_btn" value="      Login      ">
            <input type="submit" name= "reg_btn" value="      Register      ">
        </form>
    </body>
    </div>
</html>